header {
    background: rgb(47, 157, 120);
    padding: 12px 24px;
    border-bottom: 1px solid #fff;

    h1 {
        margin-bottom: 0;
    }
}

.headerBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}